.catalog {

    padding-top: 63px;
    padding-bottom: 60px;
    &__wrapper {

        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    &__image {
        width: 260px;
        height: 180px;
        margin: 0 auto;
    }
    &__title {
        color: #1b1b1b;
        font-family: Roboto-Bold;
        font-size: 15px;
        text-transform: uppercase;
        text-align: center;
    }
    &__text {
        color: #1b1b1b;
        font-family: Roboto-Regular;
        font-size: 15px;
        width: 292px;
        text-align: center;
        margin-top: 15px;
    }
}