.footer {

    padding-top: 38px;
    background: black ;
    padding-bottom: 35px;

    &__address {
        color: #fefefe;
        font-family: Roboto-Regular;
        font-size: 15px;
        line-height: 22px;
        width: 33%;
        margin: 0 auto;
        text-align: center;
    }
    &__icon {
        text-align: center;
        margin-top: 32px;
            img {
            width:  20px;
            height: 20px;
            }
    }
}