.pictures {
    width: 100%;
    &__wrapper1 {
        display: flex;
   
    }
    &__wrapper2 {
        display: flex;
   
    }
    .img {
        width: 16.7%;
        img {
            width: 100%;
        }
    }
}